@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background:
  radial-gradient(circle at top,#172554,#0f172a,#020617);

  color:white;

  min-height:100vh;

  font-family:Arial, Helvetica, sans-serif;
}